@import "../base/variables"

.card-purple
    background-color: #5761c2
    border-radius: 15px
    border: 0
    .card-body
        .card-title
            color: $color_white

.sub-text
    color: $sub_text_color

.handle
    cursor: pointer

.color-primary
    color: $primary_main

.color-black
    color: $color_black

.delay-05s
    animation-delay: 0.3s

.fadeInUp, .fadeInUpDirect, .fadeInRight
    display: none

.show
    display: block

#popup-wrapper
    position: absolute
    width: 100%
    height: 100%
    left: 1px
    top: 1px
    z-index: 3
    //display: flex
    background-color: $primary_background_transparent
    justify-content: center
    align-items: center
    display: none
    .package-popup
        min-width: 960px
        padding: 20px
        background: white
        border-radius: 25px
        display: none



