@import "../base/variables"

.card-purple
    background-color: #5761c2
    border-radius: 15px
    border: 0
    .card-body
        .card-title
            color: $color_white

.sub-text
    color: $sub_text_color

.handle
    cursor: pointer

.color-primary
    color: $primary_main

.color-black
    color: $color_black

.delay-05s
    animation-delay: 0.3s

.fadeInUp, .fadeInUpDirect, .fadeInRight
    display: none

.show
    display: block

#popup-wrapper
    position: absolute
    width: 100%
    height: 100%
    left: 1px
    top: 1px
    z-index: 3
    //display: flex
    background-color: $primary_background_transparent
    justify-content: center
    align-items: center
    display: none
    cursor: pointer

#popup-wrapper.show
    display: flex !important
    position: absolute
    left: 0
    top: 0
    cursor: pointer

.show
    display: block !important

.package-popup
    max-width: 960px
    padding: 3rem
    background: white
    border-radius: 25px
    display: none
    z-index: 4

.popup-list
    position: absolute
    width: 100%
    height: 100%
    display: flex
    left: 0
    top: 0
    align-items: center
    justify-content: center
    visibility: hidden


