.dashboard-container {
    margin: 0 40px 40px 270px;
    transition: .3s all;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #0052CC;
    background-color: #0052CC;
}
.custom-control-input:focus {
    outline: none;
}

.add_address:hover {
    text-decoration: none;
}
.add_address .card {
    transition: .3s all;
}
.add_address .card:hover {
    transition: .3s all;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.message {
    color: black;
}

.line {
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    margin: 5px 0 5px 0;
}

.nav-pills .nav-link.message.active {
    color: white;
    background-color: #186aff;
    border-radius: 8px;
}

.nav-pills .nav-link.message.active .sub-text {
    color: white;
}

.read-dot {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: #0052CC;;
}

.user-profile {
    padding: 10px;
    position: absolute;
    bottom: 10px;
}

.profile-link {
    color: black;
}
.profile-link:hover {
    color: #161616;
    text-decoration: none;
}

.navbar {
    height: 80px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #0052CC;
}

.active-border {
    border: 2px solid #0052CC;
    border-radius: 5px;
}

.br-5 {
    border-radius: 3rem;
}

.login-info {
    color: white;
}

.logo-header {
    word-break: break-all;
}


